/*********************************************************
Max Width 1199px 
*********************************************************/

@media(max-width: 1199px) {
	.header .cnt_phone p,
	.header .cnt_phone p > a {
		font-size: 26px;
	}
	.search_area .search_form input[type="text"] {
		width: 970px;
	}
	.product .cnt-descr {
		padding-top: 4px;
	}
	.navbar-brand {
		display: none;
	}
	.navbar li a {
		padding: 10px;
	}
	/*.evaluation {
		margin-top: 27%;
	}*/
	.show_all_gallery .line-float-left,
	.show_all_gallery .line-float-right {
		width: 42%;
	}
	.float-right {
		float: right;
		margin-right: 100px;
	}
	/*	.blocks .col-md-6 {
width: 100%;
padding-left: 19%;
padding-right: 19%;
}*/
	/*.figures {
margin-bottom: 30px;
}
.right-figure figure {
float: right;
}
form.subscribe {
width: 50%;
float: right;
}
form.subscribe .form-hdr {
padding-left: 3px;
}
form.subscribe .form-hdr > div:after {
left: 260px;
}*/
	.production .col-lg-2:nth-child(5) {
		margin-left: 25%;
	}
	.production .container {
		width: 900px;
	}
	.header .cnt_phone>a {
		margin-left: -82px;
	}
	/*	footer .col-md-2 {
width: auto;
max-width: 1px;
}

footer .col-md-1 {
margin-left: - 33px;
}

.f-col li {
margin-right: 0;
}*/
	.gallery-container .col-md-3 {
		width: 33%;
	}
	.gallery-container .col-md-3:last-child {
		display: none;
	}
	.blocks .block1 {
		min-height: 270px;
	}
	.right-figure figure img {
		width: 615px;
	}
	.right-figure {
		float: left;
		width: 615px;
		margin-top 30px;
		margin-right: 30px;
	}
	.figures {
		margin-bottom: 30px;
	}
	form.subscribe {
		margin-top: 0;
		min-height: 265px;
	}
	form.subscribe .sbm_btn {
		margin: 20px auto;
	}
	.dropdown-menu> .container > li {
		margin-right: -15px;
	}
	.normal-menu {
		width: 500px;
	}
	.navbar-nav {
		margin-left: 0;
	}
	.fixed-menu > .nav > li > a,
	.navbar li a {
		padding: 10px 14px;
	}
	.navbar .dropdown-menu > .container > li > a {
		padding-right: 70px;
		padding-left: 3px;
	}
	.submenu {
		padding-left: 15px;
	}
	.navbar-text {
		margin-left: 40px;
	}
	.right-figure figcaption div {
		background-size: 30%;
	}
	figcaption div.smaller {
		top: 65px;
	}
	.f-col li {
		margin-right: -10px;
	}
	#line-height {
		margin-left: -90px;
	}
	footer .col-md-1 {
		margin-left: -15px;
	}
	footer .col-md-2 {
		width: 160px;
	}
	.copyright {
		width: 195px;
	}
}


/*********************************************************
Max Width 1000px 
*********************************************************/

@media(max-width: 1000px) {
	.header .cnt_phone h3 {
		font-size: 20px;
	}
}


/*********************************************************
Max Width 992px 
*********************************************************/

@media(max-width: 991px) {
	.header .logotype {
		display: block;
		margin: 10px auto;
	}
	.header .col-md-1 {
		top: -62px;
		left: -135px;
		height: 30px;
	}
	.header .cnt_phone p {
		font-size: 26px;
		text-align: center;
		margin-left: -30px;
	}
	.header .cnt_phone p > a {
		font-size: 26px;
	}
	.header .search_icon {
		margin-bottom: 10px;
	}
	.header .cnt_phone > a {
		margin-left: -130px;
	}
	.search_area .search_form input[type="text"] {
		width: 750px;
	}
	/*.evaluation {
		margin-top: 44%;
	}*/
	.product .cnt-descr {
		padding-top: 0;
		font-size: 21px;
	}
	.blocks .float-right {
		float: right;
		margin-right: 0;
	}
	/*	.blocks .col-md-6 {
padding-left: 70px;
padding-right: 70px;
}*/
	.gallery .gallery-item {
		margin: 10px auto;
	}
	.show_all_gallery .line-float-left,
	.show_all_gallery .line-float-right {
		width: 37%;
	}
	.production .col-lg-2:nth-child(5) {
		margin-left: 0;
	}
	.carousel-indicators {
		top: 95%;
	}
	footer .col-sm-12,
	footer .col-md-2 {
		width: 50%;
		padding: 0;
	}
	.calculator,
	.copyright {
		max-height: 270px;
		width: 100%;
	}
	footer .col-md-1 {
		margin: 0;
	}
	.production .container {
		width: 675px;
	}
	.dropdown-menu> .container {
		padding-bottom: 30px;
	}
	.dropdown-menu> .container > li {
		margin-left: 30px;
	}
	.submenu {
		margin-bottom: 0;
	}
	.blocks .block1 {
		min-height: auto;
	}
	.blocks .col-sm-7 {
		margin-left: -19px;
	}
	.right-figure figure img,
	.right-figure figure {
		width: 422px;
	}
	.right-figure figcaption div {
		-webkit-background-size: 38%;
		background-size: 38%;
	}
	form.subscribe {
		width: 422px;
		min-height: 262px;
		margin-top: 30px;
	}
	form.subscribe .sbm_btn {
		margin: 18px auto;
	}
	.gallery-container {
		padding-bottom: 60px;
	}
	.gallery-container .container {
		padding-left: 9%;
	}
	.gallery-container .col-md-3 {
		width: 44%;
		margin-bottom: 13px;
	}
	.gallery-container .col-md-3:last-child {
		display: block;
	}
	.f-col li {
		margin-right: 20px;
	}
	#line-height {
		margin-left: 38px;
	}
	form.subscribe .form-hdr img {
		padding-left: 66px;
	}
	form.subscribe .form-hdr h2 {
		padding-top: 36px;
	}
	form.subscribe .form-hdr > div::after {
		left: 372px;
		top: 19px;
		height: 90%;
	}
	form.subscribe .form-hdr > div::before {
		height: 96%;
		left: 35px;
		top: 19px;
	}
	.navbar-fixed-top {
		display: none;
	}
}


/*********************************************************
Max Width 768px 
*********************************************************/

@media(max-width: 768px) {
	.hidden-sm {
		display: block;
	}
	.show_mobile_menu {
		display: block;
	}
	.navbar-nav > li {
		float: none;
	}
	.header .col-md-5 {
		margin: 0;
		padding: 0;
		width: 100%;
		border-bottom: 3px solid #000;
		padding-bottom: 23px;
	}
	.header .col-md-1 {
		height: 50px !important;
		float: none;
		width: 100%;
		top: 0;
		left: 0;
	}
	.header .search_icon {
		margin: -3px;
	}
	.header .col-md-1 img {
		padding: 15px 0;
	}
	.header .col-md-1 a {
		padding-left: 15px;
	}
	.header .cnt_phone span {
		font-size: 25px;
	}
	.header .cnt_phone p {
		font-size: 24px;
		margin-left: -15px;
	}
	.header .cnt_phone p> a {
		font-size: 24px;
	}
	.header .cnt_phone,
	{
		display: block;
		margin: 5px auto;
	}
	.header .cnt_phone > a {
		margin-left: -121px;
		font-size: 14px;
	}
	.m_evaluate {
		padding-left: 15px;
	}
	.m_menu {
		cursor: pointer;
	}
	.header_bg,
	.production,
	#navigation {
		display: none;
	}
	.navbar {
		width: 100%;
		margin: 0;
		display: none;
	}
	.navbar-nav {
		width: 300px;
		margin: 0 auto;
	}
	.navbar-nav > li > a {
		color: #000;
		font-size: 24px;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		font-size: 20px;
		border: 1px solid #000;
		width: 165px;
		text-align: center;
	}
	.nav .open > a,
	.nav .open > a:hover,
	.nav .open > a:focus {
		background: #fff;
	}
	.search_area .search_form input[type="text"] {
		width: 100%;
	}
	.gallery-container .container {
		padding-left: 5%;
	}
	.gallery-container .col-md-3 {
		width: 47%;
		margin-bottom: 20px;
	}
	.gallery .gallery-container {
		padding: 10px 0 30px 0;
	}
	.gallery .gallery-item {
		margin: 10px auto;
	}
	.gallery .nav > li > a {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#carousel-about .container {
		padding: 55px 15px;
	}
	.carousel-control.left,
	.carousel-control.right,
	.floating-cart {
		display: none;
	}
	.about .about_img {
		padding-bottom: 7px;
	}
	.about h2 {
		font-size: 27px;
	}
	.about .cpt_about {
		font-size: 17px;
		margin-bottom: 15px;
	}
	.about .cnt_about {
		font-size: 13px;
	}
	.about .col-md-3 .cpt_about {
		margin-top: 30px;
		font-size: 18px;
	}
	.carousel-indicators {
		margin-top: 35px;
		margin-bottom: 10px;
		top: 91%;
	}
	.show_all_gallery .line-float-left,
	.show_all_gallery .line-float-right {
		width: 32%;
	}
	.f-col {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
	.f-col {
		margin-left: 10px;
	}
	.blocks .block1 p {
		padding: 30px;
	}
	.dropdown-menu > .container,
	.navbar li.active > a,
	.navbar li.open> a,
	.navbar li.open > a:focus,
	.navbar li.open> a {
		border: none;
	}
	.dropdown-menu > .container,
	.dropdown-menu > .container > li {
		margin: 0;
	}
	.dropdown-menu > .container > li {
		text-align: center;
	}
	.submenu li {
		text-align: left;
	}
	.navbar .dropdown-menu > .container > li > a {
		border: 1px solid #000;
		padding: 5px 15px;
		text-decoration: none;
		display: block;
		width: 140px;
		margin: 0;
		margin-left: 0;
	}
	.submenu {
		display: none;
		margin-bottom: 25px;
		margin-left: -14px;
		padding-left: 0;
	}
	footer .col-md-6 {
		width: auto;
		padding: 15px;
	}
	#line-height {
		margin: 15px;
	}
}


/*********************************************************
Max Width 536 
*********************************************************/

@media(max-width: 700px) {}

@media(max-width: 650px) {
	.gallery .nav {
		width: 330px;
	}
	.blocks {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.blocks .col-md-6 {
		padding: 0;
	}
	.block1 {
		height: auto !important;
	}
	.full-width {
		width: 100% !important;
	}
	.blocks .block1,
	.figures {
		width: 100%;
		margin-bottom: 10px;
	}
	.figures figure {
		display: block;
		margin: 10px auto;
		width: 263px;
		height: 125px;
	}
	figcaption div {
		top: 20px;
	}
	.right-figure {
		margin: 10px auto;
		float: none;
		width: 263px;
	}
	.banner {
		display: block;
		margin: 10px auto;
		width: 262px;
		float: none;
	}
	form.subscribe {
		width: 262px;
		float: none;
		margin: 10px auto 24px auto;
	}
	form.subscribe .form-hdr {
		padding-left: 0;
	}
	.blocks .block1 p {
		padding: 20px 15px;
	}
	form.subscribe .form-hdr {
		background: url(../img/subsc_hdr.png) center center;
		background-size: 100%;
		height: 86px;
	}
	form.subscribe .form-hdr img {
		padding-top: 25px;
		padding-left: 35px;
		padding-right: 15px;
		display: block;
		float: left;
	}
	form.subscribe .form-hdr h2 {
		font-size: 23px;
		margin: 0;
		padding-top: 25px;
		padding-right: 40px;
		line-height: 0.9;
		display: block;
	}
	form.subscribe .form-hdr > div {
		position: relative;
	}
	form.subscribe .form-hdr > div:before {
		height: 80%;
		top: 20px;
		left: 21px;
		right: 0;
		bottom: 0;
	}
	form.subscribe .form-hdr > div:after {
		height: 80%;
		top: 20px;
		left: 228px;
		right: 0;
		bottom: 0;
	}
	.right-figure figcaption div {
		background-size: 68%;
		height: 97px;
	}
	figcaption div.smaller {
		top: 80px;
	}
	.right-figure figure,
	.right-figure figure img {
		width: 263px;
		height: auto;
		margin: 0 auto;
	}
	.blocks .col-sm-7 {
		margin-left: 0;
	}
	.gallery-container .col-md-3 {
		margin-bottom: 10px;
	}
	.gallery .gallery-item {
		margin: 0 auto;
	}
	.blocks .col-xs-5 {
		width: 100%;
	}
}

@media(max-width: 536px) {
	figure {
		width: 263px;
		height: 125px;
	}
	.show_all_gallery .line-float-left,
	.show_all_gallery .line-float-right {
		width: 28%;
	}
	.calculator img {
		left: 15px;
	}
	.f-col {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	.line-height li {
		margin-right: 60px;
	}
}

@media(max-width: 414px) {
	footer .col-md-1,
	footer .col-md-2,
	footer .col-md-6 {
		width: 100%;
		margin: 0;
	}
	.f-col {
		margin: 0;
	}
	.calculator {
		height: 110px;
		width: 100%;
		border: none;
		display: block;
		margin: 10px auto 0 auto;
	}
	.calculator img {
		margin: 0;
		top: 15px;
		left: 5%;
	}
	.calculator img,
	.copyright img {
		border-bottom: none;
	}
	.calculator .ft-txt-300 {
		position: absolute;
		left: 50%;
		top: 30px;
	}
	.calculator .ft-txt-100 {
		position: absolute;
		top: 50px;
		left: 40%;
		width: 40%;
	}
	.copyright {
		max-height: 200px;
		border: none;
		width: 100%;
	}
	.copyright img {
		width: 108px;
		height: 77px;
		top: 15px;
		margin: 0 auto 20px auto;
	}
	.ft-txt-grey {
		padding: 0;
	}
	#mobile_search {
		width: 10%;
	}
	.f-col li {
		margin-right: 0;
	}
	#line-height li {
		margin-right: 38px;
	}
	.blocks .col-md-8 {
		padding: 0;
	}
}

@media (min-width: 992px) {
	.dropdown-menu > .container {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.dropdown-menu > .container {
		width: 1170px;
	}
}

@media (max-width: 1500px) {
	.show_all_gallery p:before {
		background-size: 99%;
	}
	.show_all_gallery p:after {
		background-size: 100%;
	}
}