body {
	padding-top: 10px;
	font-family: BigNoodle, Arial, sans-serif;
}

.wrapper {
	overflow: hidden;
}


/************************************************************
                         Header
************************************************************/

.header .container {
	border-bottom: 1px solid #000;
}

.header .logotype {
	margin-bottom: 5px;
}

.header .cnt_phone img {
	float: left;
}

.header .cnt_phone p {
	text-align: right;
	font-size: 32px;
	margin: 17px 0 0 0;
}

.header .cnt_phone p>a {
	font-size: 32px;
	color: #000;
	text-decoration: none;
}

.header .cnt_phone span {
	font-size: 30px;
	color: #63b645;
	line-height: 20px;
}

.header .cnt_phone>a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
	font-family: 'Open Sans', Arial, sans-serif;
	vertical-align: top;
	cursor: pointer;
	position: absolute;
	left: 50%;
	margin-top: -10px;
	margin-left: -103px;
}

.header .col-md-5 {
	margin-left: 10px;
	padding-right: 0;
}

.header .col-md-6 {
	padding-left: 0;
}

.header .col-md-1 {
	padding: 0;
	width: 70px;
	float: right;
}

.header .search_icon {
	float: right;
	margin-top: 25px;
	cursor: pointer;
}

.search_area {
	position: relative;
}

#mobile_searchh,
#desctop_search {
	display: none;
}

.search_area .search_form input[type="text"] {
	background: #ddd url(../img/icons/search_icon.png) 98% center no-repeat;
	width: 1170px;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 400;
	padding: 29px 30px;
	position: absolute;
	border: none;
	z-index: 100;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.onTop {
	top: -40px;
}


/************************************************************
                         Navigation
************************************************************/

.showDropDownMenu {
	display: block;
}

.navbar > li a {
	padding-right: 50px;
}

.navbar {
	min-height: 46px;
	margin-bottom: -2px;
	background: #fff;
}

.normal-menu {
	width: 550px;
	margin: 0 auto;
}

.normal-menu .navbar-text {
	display: none;
}

.navbar-header {
	display: none;
}

.fixed-menu {
	width: 100%;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar li a {
	padding: 10px 18px;
	font-size: 25px;
	line-height: 20px;
	color: #000;
	text-transform: uppercase;
}

.navbar li.active a,
.navbar li a:focus,
.navbar li a:hover,
.navbar li.open a,
.navbar li.open a:focus,
.navbar li.open a:hover {
	background: transparent;
}

.navbar-nav {
	margin-top: -1px;
	margin-left: 10px;
}

.nav-menu-arrow {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 9px;
	margin-left: 5px;
	margin-top: -3px;
	background: url(../img/icons/nav_arrow.png) center center no-repeat;
}

.navbar .dropdown-menu {
	border: none;
	border-radius: 0;
	margin-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #fff;
}

.dropdown-menu> .container > li {
	float: left;
	margin-right: 30px;
}

.navbar .dropdown-menu > .container > li > a {
	padding: 10px 0;
	margin-left: 20px;
	padding-right: 60px;
	font-size: 24px;
	border-bottom: 1px solid #c1c1c1;
	font-weight: normal;
	color: #000;
}

.navbar .dropdown-menu >.container > li.active > a,
.navbar .dropdown-menu >.container > li > a:focus,
.navbar .dropdown-menu >.container > li > a:hover {
	background: #fff;
	color: #63b645;
}

.nav-menu.navbar {
	content: "»";
	display: inline-block;
	margin-right: 15px;
	font-size: 23px;
}

#navigation .navbar-nav > li > .dropdown-menu,
#secondary_navigation .navbar-nav > li > .dropdown-menu {
	left: -50%;
	min-width: 550px;
	opacity: 0;
	transition: all .3s linear .2s;
	-o-transition: all .3s linear .2s;
	-moz-transition: all .3s linear .2s;
	-webkit-transition: all .3s linear .2s;
}

.dropdown-menu > div > li > a {
	font-size: 23px;
	padding: 10px;
	margin: 40px 0;
}

.submenu {
	margin: 15px 0 40px 0;
	padding-left: 20px;
}

.submenu li {
	list-style: none;
}

.submenu li a {
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 400;
	background: transparent;
	line-height: normal;
	padding: 0;
	text-transform: none;
}

.dropdown-menu a:hover {
	color: #63b645;
}

.nav > li.dropdown.open {
	position: static;
}

.nav > li.dropdown.open .dropdown-menu {
	display: table;
	width: 100%;
	left: 0;
	right: 0;
	padding-top: 0;
	background: transparent;
}

.dropdown-menu > .container {
	border-top: 1px solid #c1c1c1;
	margin-top: -2px;
	background: #fff;
}

.dropdown-menu > .container > li {
	display: table-cell;
	margin-top: 25px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	border: transparent;
}

.navbar li.active > a,
.navbar li.open> a,
.navbar li.open > a:focus,
.navbar li.open> a {
	border-top: 5px solid #63b645;
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	background: #fff;
	z-index: 100000;
}

#navigation .dropdown:hover > ul.dropdown-menu {
	opacity: 1;
	border-top: 1px solid #c1c1c1;
	transition: all .3s linear;
	-o-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	display: block;
}

#navigation .dropdown:hover {
	margin-top: -2px;
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	border-top: 5px solid #63b645;
	border-bottom: 2px solid #fff;
	;
}

.navbar-brand {
	padding: 2px 40px;
}

.navbar-brand img {
	height: 40px;
	margin-top: 3px;
}

.navbar-text {
	font-size: 28px;
	margin: 5px 0 3px 65px;
}

.navbar-search {
	margin-left: 45px;
	margin-top: 5px;
	cursor: pointer;
}

.fixed-menu > .nav > li > a {
	line-height: 28px;
}

.show_mobile_menu {
	display: none;
}


/************************************************************
                         Header BG
************************************************************/

.header_bg {
	background: #000 url('../img/header_bg.png') center center;
	width: 100%;
	background-size: cover;
	height: 455px;
}

.while-hdr-line {
	z-index: 100;
	margin-top: -20px;
	height: 10px;
	width: 100%;
	background: rgba(255, 255, 255, .36);
}

.evaluation {
	margin-top: 300px;
}

.evaluation img {
	width: 185px;
	height: 95px;
	float: right;
}


/************************************************************
                        Production
************************************************************/

.production {
	background: #f2eeee;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #000;
	padding: 20px 0;
}

.production .col-md-2,
.production .col-sm-4,
.production .col-xs-6 {
	padding-left: 10px;
	padding-right: 10px;
}

.production .container {
	padding: 0 25px;
}

.product {
	background: #fff;
	width: 174px;
	min-height: 300px;
	margin: 10px -2px;
	position: relative;
	border: 1px solid #f2eeee;
	display: block;
	margin: 10px auto;
	overflow: hidden;
}

.product:hover {
	border: 1px solid #63b645;
}

.product .product-img {
	width: 100%;
	z-index: 1;
}

.product .product-img {
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.product:hover .product-img {
	-webkit-transform: scale3d(1.2, 1.2, 1);
	transform: scale3d(1.2, 1.2, 1);
}

.product .bg {
	z-index: 3;
	width: 140px;
	position: absolute;
	left: 50%;
	margin-left: -70px;
	margin-top: -10px;
	top: 112px;
}

.product .center {
	position: absolute;
	width: 140px;
	left: 50%;
	margin-left: -70px;
	margin-top: -10px;
	z-index: 155;
}

.product .center p {
	text-align: center;
}

.product .cnt-descr {
	padding: 1px;
	font-size: 24px;
	color: #000;
	text-decoration: none;
	z-index: 55;
}

.product-items {
	margin: 15px;
	margin-top: 27px;
	padding-left: 0;
	padding-bottom: 15px;
}

.product-items li {
	list-style: none;
	padding: 3px;
}

.product-items li a {
	color: #000;
	margin: 0;
	text-align: left;
	font-family: MuseoSansCyrl500, Arial, sans-serif;
	font-size: 13px;
}

.product-items li a:hover {
	color: #63b645;
	text-decoration: none;
}


/************************************************************
                        Blocks
************************************************************/

.blocks {
	margin: 50px 0 65px 0;
}

.blocks .block1 {
	background: #fff url(../img/block_bg.png);
	margin-bottom: 10px;
}

.blocks .block1 p {
	padding: 60px;
	font-size: 15px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 600;
	margin: 0;
}

.banner {
	background: url(../img/content/banner.png) no-repeat center center;
	width: 262px;
	height: 557px;
	position: relative;
	float: left;
	margin-right: 28px;
}

.banner .col-xs-4 {
	padding: 0 5px;
}

.banner .col-xs-8 {
	padding: 0 30px 0 0;
}

.banner .banner-text {
	position: absolute;
	top: 43%;
	padding: 0 10px;
}

.banner-text .row {
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	margin: 15px 0;
}

.banner p {
	font-size: 26px;
	color: #fff;
	line-height: 28px;
}

.banner span {
	font-size: 45px;
	color: #63b645;
}

form.subscribe {
	background: #f2eeee;
	display: block;
	min-height: 260px;
	width: 265px;
	margin: 30px auto 0 auto;
	float: left;
}

form.subscribe .form-hdr {
	background: url(../img/subsc_hdr.png) center center;
	background-size: 100%;
	height: 86px;
}

form.subscribe .form-hdr img {
	padding-top: 25px;
	padding-left: 35px;
	padding-right: 15px;
	display: block;
	float: left;
}

form.subscribe .form-hdr h2 {
	font-size: 23px;
	margin: 0;
	padding-top: 25px;
	padding-right: 40px;
	line-height: 0.9;
	display: block;
}

form.subscribe .form-hdr > div {
	position: relative;
}

form.subscribe .form-hdr > div:before {
	content: " ";
	position: absolute;
	background: url(../img/icons/subscriber_bracket.png) no-repeat;
	background-size: contain;
	height: 80%;
	top: 20px;
	left: 21px;
	right: 0;
	bottom: 0;
}

form.subscribe .form-hdr > div:after {
	content: " ";
	position: absolute;
	background: url(../img/icons/subscriber_bracket-right.png) no-repeat;
	background-size: contain;
	height: 80%;
	top: 20px;
	left: 228px;
	right: 0;
	bottom: 0;
}

form.subscribe input[type="text"],
form.subscribe input[type="email"] {
	display: block;
	width: 85%;
	padding: 3px 10px;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 15px;
	margin: 0 auto 4px auto;
	border: 1px solid #afacac;
}

form.subscribe .sbm_btn {
	font-size: 21px;
	color: #fff;
	background: #63b645;
	border: none;
	display: block;
	width: 85%;
	height: 35px;
	margin: 18px auto;
}

form.subscribe .sbm_btn span {
	font-weight: 100;
	font-size: 18px;
	margin-left: 14px;
}

form.subscribe .form-ftr {
	background: url(../img/subsc_ftr.png) repeat-x;
	width: 100%;
	height: 8px;
}


/***** Scale Animation ***********/

figure {
	width: 33%;
	height: 257px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	padding: 0;
	border: none;
}

.right-figure figure {
	width: auto;
	height: 265px;
	margin: 0;
	display: block;
}

.right-figure figure img {
	width: 500px;
}

figcaption {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	display: table;
}

figcaption div {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	top: 80px;
	color: #2c3e50;
	text-transform: uppercase;
}

figcaption div a {
	color: #fff;
	padding: 15px 50px;
	font-size: 21px;
	background: url(../img/black_link_bg.png) no-repeat center center;
}

figcaption .small a {
	padding: 15px 30px;
}

.right-figure figcaption div {
	background: url(../img/right-figure_link.png) no-repeat center center;
	background-size: 62%;
	table-layout: center;
}

figcaption .smaller a {
	padding: 30px 2px;
	background: none;
	font-size: 26px;
	line-height: 1;
}

figcaption div a:hover,
figcaption div a:focus {
	color: #fff;
	text-decoration: none;
}

figure img {
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

figure:hover img {
	-webkit-transform: scale3d(1.2, 1.2, 1);
	transform: scale3d(1.2, 1.2, 1);
}


/************************************************************
                        Gallery
************************************************************/

.gallery {
	position: relative;
}

.gallery .gallery-container {
	background: #fafafa url(../img/gallery_bg.png);
	background-size: cover;
	border-top: 1.5px solid #000;
	padding: 20px 0 70px 0;
}

.gallery .gallery-item {
	background: #fff;
	width: 263px;
	min-height: 325px;
	padding: 5px;
	margin: 10px 0;
	border: 1px solid #676767;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

.gallery .gallery-item:hover {
	border: 1px solid #63b645;
}

.gallery .gallery-item img {
	display: block;
	margin: 1px auto;
	width: 100%;
	height: 200px;
	background-size: contain;
}

.gallery .gallery-item h3 {
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: 'Open Sans';
	font-weight: 600;
}

.gallery .gallery-item .model {
	text-align: center;
	margin-top: 0;
	font-size: 13px;
	color: #72726b;
	font-family: 'Open Sans';
	font-weight: 400;
}

.gallery .gallery-item .price {
	font-size: 32px;
	display: inline-block;
	margin-bottom: 0;
	margin-left: 10px;
	margin-top: 5px;
}

.gallery .gallery-item .price span {
	font-size: 20px;
	font-weight: bold;
}

.gallery .gallery-item .price .flaticon-commerce {
	font-size: 17px;
	margin-left: 17px;
	font-weight: 100;
}

.gallery .gallery-item a {
	width: 134px;
	height: 32px;
	margin-left: 9px;
	border: none;
	line-height: 28px;
	background: #63b645;
	color: #fff;
	font-family: 'Open Sans';
	font-size: 13px;
	text-transform: uppercase;
	position: relative;
	bottom: 6px;
}

.gallery .gallery-item a {
	display: inline-block;
}

.gallery .gallery-item a:hover {
	text-decoration: none;
}


/****** Tabs ************/

.gallery .nav {
	width: 650px;
	margin: 1px auto;
}

.gallery .nav > li > a {
	position: relative;
	border-radius: 0;
	margin-right: 5px;
	line-height: 1.42857143;
	color: #000;
	font-family: 'Open Sans';
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;
	width: 103px;
	height: 38px;
	padding: 8px 10px 20px 10px;
	text-align: center;
	border-top: 1px solid #000;
}

.nav-tabs > li {
	margin-bottom: -1px;
}

.gallery .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border-bottom: 4px solid #63b645;
	color: #63b645;
	background: transparent;
}

.gallery .nav > li > a:hover,
.gallery .nav > li > a:focus {
	color: #63b645;
	border-bottom: 4px solid #63b645;
	width: 103px;
	height: 38px;
	margin-right: 5px;
	background: transparent;
}

.gallery .nav > li > a:before {
	content: " ";
	position: absolute;
	z-index: -1;
	height: 22px;
	top: -1px;
	left: -1px;
	right: 0;
	bottom: 0;
	border-left: 1px solid #000;
}

.gallery .nav > li > a:after {
	content: " ";
	position: absolute;
	z-index: -1;
	height: 22px;
	top: -1px;
	left: 0;
	right: -1px;
	bottom: 0;
	border-right: 1px solid #000;
}

.black-line {
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #000;
	position: absolute;
	top: 56px;
}


/**************************************** Transition ****************************************/

.make_transist {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.hidescale {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscale {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.show_all_gallery .line-float-left {
	height: 0;
	width: 43%;
	position: absolute;
	left: 0;
	border-bottom: 1.5px solid #000;
}

.show_all_gallery .line-float-right {
	height: 0;
	width: 43%;
	position: absolute;
	right: 0;
	border-bottom: 1.5px solid #000;
}

.show_all_gallery p {
	display: block;
	position: absolute;
	margin: -9px auto 0 -75px;
	width: 150px;
	height: 33px;
	text-align: center;
	left: 50%;
}

.show_all_gallery p:before {
	position: absolute;
	width: 96px;
	height: 44px;
	content: '';
	left: -72px;
	bottom: 0;
	background-image: url(../img/icons/bracket_left.png);
	background-repeat: no-repeat;
}

.show_all_gallery p:after {
	position: absolute;
	width: 96px;
	height: 44px;
	content: '';
	right: -74px;
	bottom: 0;
	background-image: url(../img/icons/bracket_right.png);
	background-repeat: no-repeat;
}

.show_all_gallery a {
	font-family: 'Open Sans', san-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	background: #000;
	padding: 6px 8px;
	font-size: 13px;
	text-decoration: none;
}

.show_all_gallery a:hover {
	background: #63b645;
}

.show_all_gallery a img {
	width: 5px;
	margin-left: 5px;
	margin-bottom: 3px;
}


/************************************************************
                        About Company
************************************************************/

.about {
	margin-top: 50px;
}

.about h2 {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #c1c1c1;
	font-size: 31px;
	padding-bottom: 8px;
	margin-bottom: 0;
}

.about .col-md-3 {
	padding-left: 10px;
	padding-right: 10px;
}

.about .about_img {
	width: 100%;
	padding-bottom: 30px;
}

.about .cnt_about {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	margin-left: 5px;
}

.about .col-md-3 .cpt_about {
	font-size: 20px;
}

.about .cpt_about {
	font-family: 'Open Sans';
	font-weight: 600;
	margin-bottom: 25px;
	font-size: 22px;
	line-height: 1;
}

.about img {
	float: left;
	margin: 5px 5px 0 0;
}

#carousel-about .container {
	padding: 40px;
	padding-bottom: 90px;
}

.carousel-control.left,
.carousel-control.right {
	background: transparent;
}

.carousel-control {
	width: 5%;
	opacity: 1;
	text-shadow: none;
}

.carousel-indicators {
	top: 91%;
}

.carousel-indicators li {
	display: inline-block;
	width: 23px;
	height: 7px;
	border: none;
	margin-right: 5px;
	text-indent: -999px;
	background: #ddd;
	border-radius: 0;
	cursor: pointer;
}

.carousel-indicators .active {
	background: #63b645;
	width: 23px;
	height: 7px;
	border: none;
	margin: 1px;
	margin-right: 5px;
}

.arrow_right,
.arrow_left {
	position: absolute;
	top: 40%;
	z-index: 5;
	display: inline-block;
}


/************************************************************
                        Footer
************************************************************/

footer {
	background: #dddddd;
}

footer .col-md-1 {
	width: 171px;
	padding: 0;
	margin-left: 20px;
}

footer .col-md-2 {
	width: 242px;
}

footer .col-md-6 {
	padding: 0;
	width: 540px;
}

.footer-hdr {
	font-size: 26px;
	padding: 3px 10px;
	border: 0.5px solid #000;
	width: 120px;
	text-align: center;
	margin-top: 30px;
}

.f-col {
	float: left;
	display: inline;
	padding: 0 0 10px 10px;
	margin-top: 15px;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

.line-height {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}

.f-col li {
	list-style: none;
	border-left: 1px solid #555555;
	padding: 0 10px;
	margin-right: 20px;
}

.f-col li a {
	color: #151512;
	font-size: 12px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 600;
	text-decoration: none;
}

.f-col li a:hover {
	color: #63b645;
}

.line-height {
	line-height: 25px;
	padding-left: 0;
}

.line-height a {
	font-size: 14px !important;
}

.calculator {
	background: url(../img/calculator_bg.png) center bottom;
	background-size: cover;
	width: 184px;
	height: 318px;
}

.calculator img {
	position: relative;
	display: block;
	top: 65px;
	margin: 0 auto 80px auto;
	width: 76px;
	height: 81px;
}

.calculator .ft-txt-300 {
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 16px;
	display: block;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

.calculator .ft-txt-100 {
	font-family: 'Open Sans';
	font-weight: 100;
	font-size: 20px;
	display: block;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 15px;
	border-bottom: 0.3px solid rgba(255, 255, 255, 0.5);
	width: 75%;
	margin: 0 auto;
}

.copyright {
	background: #eee;
	height: 318px;
	width: 222px;
}

.copyright img {
	display: block;
	margin: 0 auto 40px auto;
	position: relative;
	top: 35px;
	width: 169px;
	height: 112px;
}

.ft-txt-grey {
	color: #272724;
	text-align: center;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 300;
	padding: 5px;
}

.ft-txt-grey a {
	color: #272724;
	text-align: center;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 300;
	padding: 5px;
	text-decoration: none;
}

.ft-txt-grey span {
	text-decoration: underline;
}

.ftr-columns .col-md-12,
.ftr-columns .col-sm-4 {
	padding-right: 5px;
	padding-left: 5px;
}


/************************************************************
                        Floating Cart
************************************************************/

.floating-cart {
	min-width: 200px;
	height: 50px;
	display: block;
	border: 1px solid #666;
	border-bottom: 5px solid #63b645;
	background: #fff;
	padding: 5px 10px;
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: 600;
}

.floating-cart .flaticon-commerce {
	font-size: 16px;
}

.floating-cart span.badge {
	background: #63b645;
	border-radius: 50%;
	font-family: BigNoodle;
	font-size: 15px;
	padding: 7px 12px;
	margin-bottom: 7px;
}

.floating-cart span.price {
	font-family: BigNoodle;
	font-size: 24px;
	letter-spacing: 1px;
}

.floating-cart span.icon-ruble {
	font-size: 17px;
	font-family: 900;
}

#fixed {
	min-width: 200px;
	right: 102px;
	bottom: 0;
	z-index: 99999;
	position: fixed;
}

.box {
	vertical-align: middle;
	transition: 1s;
	border: 1px solid #000;
	-webkit-transition: 1s;
	position: relative;
}

.box:hover {
	border: 1px solid #63b645;
}

.box::before,
.box::after {
	width: 100%;
	height: 100%;
	z-index: 3;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	-webkit-transform: scale(0);
	transition: 1s;
}

.cool-hover::before {
	border-bottom: 1px solid #b64545;
	border-left: 1px solid #63b645;
	-webkit-transform-origin: 0 100%;
}

.cool-hover::after {
	border-top: 1px solid #45adb6;
	border-right: 1px solid #63b645;
	-webkit-transform-origin: 100% 0%;
}

.box:hover::after,
.box:hover::before {
	-webkit-transform: scale(1);
}


/* green: #63b645;   */